<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="/assets/weather.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkweather</title>
    <link rel="stylesheet" href="/css/weather.css">
    <style>
      body {
        text-align: center;
        margin: auto;
        background-image: linear-gradient(
          25deg,
          rgb(161, 100, 211) 50%,
          rgb(117, 228, 250) 50%
        );
        height: 100vh;
        width: 100vw;
      }
      .heading {
        margin: 0;
        font-size: 1rem;
        color: rgb(204, 0, 255);
        padding: 2rem;
      }
      .box{
        box-sizing: border-box;
        position: relative;
        margin: auto;
        width:max-content;
        height:8vh;
        /* border: 2px solid green; */
      }
      input {
        outline: none;
        border: none;
        background-color: transparent;
        color: blue;
        padding: 0.2rem .8rem;
        padding-right: 3rem;
        border-bottom: 3px solid hsl(273, 100%, 50%);
        width:max-content;
        position: absolute;
        left:50%;
        top:30%;
        transform: translateX(-50%);
      }
      input:focus,
      input:hover {
        background-color: transparent;
        outline: none;
      }
      button[name="search"] {
        outline: none;
        border: none;
        background-color: transparent;
        /* color: blue; */
        /* padding: 0.4rem; */
        position: absolute;
        top:35%;
        right:-112px;
      }
      .circle{
        width: 6px;
        height: 6px;
        border:2px solid blue;
        border-radius: 50%;
        background-color: transparent;
        position: relative;
      }
      .handle{
        position:absolute;
        width: 1px;
        background-color:blue;
        height:8px;
        bottom:-7px;
        right:-2px;
        transform: rotate(-40deg);

      }

      .result>form{
        position: absolute;
        top:-5px;
        right:10px;
        width:fit-content;
        /* border:2px solid red;
        box-sizing: border-box; */
        
      }
      .cancel{
        background-color: transparent;
        border:none;
        outline: none;;
        cursor: pointer;
        padding: 5px;
        position:relative;
        /* border: 2px solid red; */
        
      }
      .cancel::before,.cancel::after{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        content:"";
        width:1px;
        height: 10px;
        background-color: #fff;
        
      }
      .cancel::before{
      transform: rotate(45deg);
      }
      .cancel::after{
      transform: rotate(-45deg);
      }

      .cancel::before:hover,.cancel::after:hover{
        background-color:aquamarine;
        transform: scale(1.2);
      }
      .result{
        /* margin-top:50px; */
        box-sizing: border-box;
        position:absolute;
        top:60%;
        left:50%;
        width:80vw;
        transform: translate(-50%,-50%);
        height:max-content;
        min-height:30vh;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(10px);

        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
        padding: 10px;
        color:rgb(130, 0, 252);
        align-items: center;
      }

      .missing {
        color: #ff2727;
      }
      /* .found {
        color: rgb(0, 255, 234);
      } */
      .city-name {
        color: #00d9ff;
      }
      .found div {
        display: flex;
        align-items: center;
      }
      .found img {
        width: 50px;
        height: 50px;
      }
      .invalid {
        color: #ff2727;
      }
      @media (max-width:468px) {
        .header{
          font-size: 2rem;
        }
      }
    </style>
    <script src="https://kit.fontawesome.com/2082010889.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <h1 class="heading">Check Weather of your city</h1>
    <div class="box">
      <form action="/" method="post" >
        <input
        type="text"
        name="city"
        placeholder="Enter Your City Name"
        autocomplete=off
        required
        value= <%= city %>
        >
        <button type="submit" name="search" style="cursor: pointer" >
         <div class="circle">
          <div class="handle"></div>
         </div>
        </button>
      </form>
    </div>
    <% if(search!==false){ %>
      <div class=" result">
        <form action="/cancel" method="post">
          <button type="submit"class="cancel" value="x" name="cancel">
          </button>
        </form>

        <% if(value==='missing'){ %>
          <div class="missing">
            <h1>OPPS! City Name is Missing</h1>
            <h3>Please enter the name of city you want to check weather for...</h3>
          </div>
        <% } %>

        <% if(value==='invalid'){ %>
          <div class="invalid">
            <h1>City Name can only contain alphabets</h1>
            <h3>Please enter the name of city you want to check weather for...</h3>
          </div>
        <% } %> 

        <% if(value==='found'){ %>
          <div class="found">
            <h1>
              The Temperature in <span class="city-name"> <%=cityname %> </span>
              is <%= temperature %> degrees Celcius
            </h1>
            <div>
              <h5>The weather is currently<%= weather %></h5>
              <img src= <%=icon %> />
            </div>
          </div>
        <%} %> 
      
        <% if(value==='wrong'){ %>
          <div class="invalid">
            <h1>OPPS! Can not find city Name</h1>
            <h3>Please enter a valid city name...</h3>
          </div>
        <%} %> 

        <% if(value==='server-error'){ %>
          <div class="invalid">
            <h1>OPPS! Some Error Occured</h1>
            <h3>Please try again after some time...</h3>
          </div>
        <%} %> 

      </div>
    <%} %>
  </body>
</html>
